# Prerequisites
*.d
*.log
*.log.gz
*.root

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
**/*dict.cxx
**/*.pcm

# Executables
*.exe
*.out
*.app
